.header{
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    background-color: #39B;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

nav a:hover {
    background-color: #005f5f;
}

nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    nav li {
        display: inline-block;
        margin-right: -4px;
    }
}





/*bus*/


  .wrapper{
      width:320px;
      margin:0 auto;
      padding-top:5%;
      position:relative;
  }
.wrapper-2{
    width:14%;
    margin:0 auto;
    text-align:right;
}
.bus{
    width:20%;
    z-index:10;
    animation: bounce 100ms infinite alternate;
}
.road{
    position:absolute;
    bottom:2px;
    right:150px;
    animation: road 1s ease-out infinite;
}

@keyframes road{
    0%{
        transform: translateX(0);
    }
    75%{
        opacity:1;
    }
    100%{
        transform: translateX(-250%);
        opacity:0;
    }

}

@keyframes size{
    from{
        transform: scale3d(0.75, 0.75, 0.75);
        transform: translateX(-350%);

    }

    20%{
        transform: scale3d(1, 1, 1);
    }

    to {
        transform: scale3d(0.75, 0.75, 0.75);
        transform: translateX(-350%);
    }
}

@keyframes bounce{
    0%{
        transform:translateY(0)
    }
    100%{
        transform:translateY(-1%)
    }
}
